body {
  width: 500px;
  font-family: arial;
  background-color: #EDF6F7;
}

#form {
  overflow: auto;
  width: 320px;
  float: left;
  font-size: 12px;
  border-right: 1px solid #CCC;
  padding-right: 20px;
}

.field-wrap {
  float: left;
  padding: 5px 0;
}

.field-label {
  padding-left: 3px;
  color: #777;
}

.field-wrap input {
  padding: 3px 1px;
}

#search-links {
  float: left;
  padding-left: 25px;
  padding-top: 20px;
}

.link-wrap {
  padding: 5px 0;
}

#search-links a {
  color: #06C;
  text-decoration: none;
}

#search-links a:hover {
  text-decoration: underline;
}

#update-button-wrap {
  text-align: center;
  padding-top: 20px;
  clear: both;
}

#update-button {
  border-radius: 5px;
  background-color: #06C;
  color: white;
  border: 1px solid #06C;
  padding: 5px;
}

#update-button:hover {
  cursor: pointer;
  background-color: #69F;
  border: 1px solid #69F;
}