body {
  width: 460px;
  font-family: arial;
}

#title {
  text-align: center;
  color: #F9F9F9;
  font-family: 'Allerta', serif;
  letter-spacing: 3px;
  margin-bottom: .25em;
  margin-top: 0;
  padding: .25em 0;
  background-color: #49AFCD;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

#logo {
  position: absolute;
  right: 1em;
}

#form {
  font-size: 12px;
}

.field-label {
  padding-left: 3px;
  color: #777;
}

#search-links {
  padding-top: 5px;
}

#search-links button {
  text-decoration: none;
  display: block;
  padding: 5px;
  margin: 10px 0;
  width: 100%;
}

#feedback {
  text-align: right;
}

#feedback a {
  font-size: .8em;
  color: #777;
  text-decoration: none;
}

#feedback a:hover {
  text-decoration: underline;
}